<div class="form-container">
    <span class="p-input-icon-left">
        <i class="pi pi-user"></i>
        <input type="text" [(ngModel)]="loginData.username" autocomplete="off" pInputText placeholder="Username">
    </span>
    <span class="p-input-icon-left">
        <i class="pi pi-envelope"></i>
        <input type="text" [(ngModel)]="loginData.email" autocomplete="off" pInputText placeholder="Email">
    </span>
    <span class="p-input-icon-left">
        <i class="pi pi-key"></i>
        <input type="password" [(ngModel)]="loginData.password" autocomplete="off" pInputText placeholder="Password">
    </span>
    <a href="#" class="flex">Forgot your password?</a>
</div>
<div class="button-container">
    <button type="button" pButton label="Login" (click)="login()" ></button>
    <span [routerLink]="['/auth/signup']" >Don’t have an account?<a>Sign-up here</a></span>
</div>